// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primaryfont: font-family;

body {
    background-color: whitesmoke;
    font-family: $primaryfont;
}


@mixin container  {

    position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        background-color:#343a40;
    }
               
.mon-container {
    @include container();       
}






